a:link {color: black; text-decoration: none; font-family: Georgia, serif; font-size: 20px;}
a:visited {color: black; text-decoration: none; font-family: Georgia, serif; font-size: 20px;}
a:hover {color: black; text-decoration: none; font-family: Georgia, serif; font-size: 20px;}
a:active {color: black; text-decoration: none; font-family: Georgia, serif; font-size: 20px;}

.header img {height: 100px; width: auto;}
.header {display: flex; justify-content: space-evenly; align-items: center;}

.highlight img {height: auto; width: 16.66%;}
.highlight {display: flex;}

.logo {display: block; height: auto; width: 55%; margin-left: auto; margin-right: auto;}

.paragraph {display: block; height: auto; width: 50%; margin-left: auto; margin-right: auto; padding-top: 75px; padding-bottom: 75px;}

button {background-color: pink; border: none; display: block; padding: 40px 40px; font-size: 18px; font-family: Georgia, serif; margin-left: auto; margin-right: auto;}
button:hover {background-color: white; border: 3px solid pink;}

.handle {text-align: center; padding-top: 75px; padding-bottom: 10px;}
.handle:hover a {color: pink}

.instagram img {height: auto; width: 8%; padding-left: 5px; padding-right: 5px;}
.instagram {display: flex; justify-content: center;}

.footer {display: flex; padding-top: 50px; justify-content: center;}
.footer a {padding-left: 50px; padding-right: 50px;}

@media (max-width: 600px) {.header img {height: 35px; width: auto;} 
.header a {font-size: 10px;}
.footer {margin-top: 0; padding-bottom: env(safe-area-inset-bottom);}
.footer a {padding-left: 10px; padding-right: 10px; font-size: 10px;} 
.logo {width: 75%; height: auto;} 
.paragraph {width: 75%; height: auto; margin-top: auto;} 
button {width: 37%; padding: 20px 20px; margin-left: auto; margin-right: auto; font-size: 10px; color: black; text-align: center; margin-bottom: auto; margin-top: 15px;} 
.handle {margin-top: auto; margin-bottom: 3px;}
.handle a {font-size: 10px;}
.instagram img {width: 9%; padding-left: 2px; padding-right: 2px;}
.instagram {margin-bottom: 5px;}
html, body {height: -webkit-fill-available;}
body {display: flex; flex-direction: column; min-height: 100vh; min-height: 100dvh;}
}

@media (min-width: 601px) and (max-width: 900px) {.footer a {padding-left: 25px; padding-right: 25px;}
button {color: black;}
}

@media (min-width: 901px) {button {color: black;}}